<!DOCTYPE html>
<html>
  <head>
    <title>RigWorld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
  <% if logged_in? %>
  <%= link_to "New Rig", new_rig_path %> |
  <%= link_to "Inventory", rigs_path %> |
  <%= link_to "Add Review", new_review_path %> |
  <%= link_to "All Reviews", reviews_path%> |
  <%= link_to "Log out", logout_path, method: :delete %>
  <%else%>
  <%=link_to "Sign Up", signup_path%> |
  <%=link_to "Log In", login_path%>
  <%end%>
  </div>
  <div>
  <% if flash[:message]%>
      <%= flash[:message]%>
  <%end%>

  <%= @error%>
  </div>
    <%= yield %>
  </body>
</html>
