<h1>Design Your Rig </h1>

<%= render partial: "layouts/errors", locals: {msg_error: @rig} %>

<%= form_for(@rig) do |f| %>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
    <br>
    <br>
    <%= f.label :min_depth, "Min Depth(ft):" %>
    <%= f.number_field :min_depth %>
    <br>
    <br>
    <%= f.label :max_depth, "Max Depth(ft):" %>
    <%= f.number_field :max_depth %>
    <br>
    <br>
    <%= f.label :location, "Location:" %>
    <%= f.text_field :location%>
    <br>
    <br>
    <%= f.label :classification, "Classification:" %>
    <%= f.text_field :classification%>
    <br>
    <br>
    <%= f.submit "New Rig" %>
   
<% end %>